# ==========================================================
# Operating system
# ==========================================================

Thumbs.db
Desktop.ini

# ==========================================================
# Git
# ==========================================================

*.orig

# ==========================================================
# Visual Studio
# ==========================================================

.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
x64/
x86/
Debug/
Release/

# ==========================================================
# STM32CubeIDE
# ==========================================================

**/Debug/
**/Release/

*.launch

# Generated temporary files
*.o
*.d
*.su
*.map
*.elf
*.hex
*.bin
*.list

# ==========================================================
# CMake
# ==========================================================

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json

# ==========================================================
# Altium
# ==========================================================

History/
Project Logs for *
__Previews/

# ==========================================================
# CAD
# ==========================================================

# Autodesk Inventor automatic versions
**/OldVersions/

# Compass automatic versions
*.bak